@font-face {
  font-family: Vazir;
  src: url(../font/Vazir-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
li,
ul,
div,
input,
label {
  font-family: Vazir;
}

body{
    padding-top: 40px;
}

.detail-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}
